.price {
    padding: 66px 0 0 0;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &::before {
            top: -6px;
            left: 50%;
            transform: translate(-50%);
        }
    }
    &__divider {
        display: block;
        margin: 0 auto;
        width: 60px;
        height: 0px;        
        border: 2px solid #FFA501;
        margin-top: 25px;
    }
    &__wrapper {
        margin-top: 60px;
        padding: 0 60px;
        display: grid;
        grid-template-rows: repeat(3, minmax(45px, auto));
        grid-template-columns: repeat(2, minmax(365px, auto));
        justify-content: space-between;
        row-gap: 15px;
    }
    &__item {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, minmax(21px, auto));
        row-gap: 5px;
        &:before {
            content: '';
            width: 15px;
            height: 15px;
            background-color: $main-color;
            border-radius: 100%;
            position: absolute;
            top: 4px;
            left: -26px;
        }
        &-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
        }
        &-mony {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            justify-self: end;
        }
        &-descr {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            grid-column: 1 / 3; 
        }
    }

}