.sidepanel {
    position: fixed;
    top: 200px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    z-index: 3;
    &__divider {
        height: 70px;
        width: 2px;
        background: #000;
    }
    &__text {
        width: 25px;
        height: 150px;   
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        
        span {
            transform: rotate(-90deg) translate(-30%,-260%);
            display: block;
            width: 150px;
            height: 24.5px;
        }
    }

}